<ion-header class="ion-padding-horizontal ion-no-border">
  <ion-toolbar color="translucent">
    <ion-icon slot="start" name="arrow-back-outline" size="large" (click)="backButtonClick()"></ion-icon>
  </ion-toolbar>
    
</ion-header>

<ion-content class="ion-padding">
  <div >
    <ion-text color="darkgreen">
      <h2><b>Resetear contraseña</b></h2>
    </ion-text>
    <h5>Ingrese el correo electrónico para enviar instrucciones de restablecimiento de contraseña.</h5>


    <!-- <ion-item lines="full">
      <p>Enter email to send password reset instructions.</p>
    </ion-item> -->
    <form>
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding ion-no-border">
            <ion-label position="floating" color="gris">Email</ion-label>
            <ion-input type="text"  #email></ion-input>
          </ion-item>
          <!-- <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" shape="round" color="primary" style="margin-top: 10%;" class="ion-padding-vertical vh-btn"  (click)="passwordRecovery(email)">
            Enviar correo de restablecimiento
          </ion-button>
          <!-- <ion-button
            type="submit"
            color="danger"
            (click)="passwordRecovery(email)"
            expand="block"
          >
          enviar correo de restablecimiento de contraseña
          </ion-button> -->
        </ion-col>
      </ion-row>
    </form>

  </div>
    
 
</ion-content>