<ion-toolbar color="tertiary" style="border-radius: 0px 0px 15px 15px;" class="ion-padding-horizontal">
  <ion-icon slot="start" name="arrow-back-outline" size="large" (click)="backButtonClick()"></ion-icon>
  <div style="" class="centerVH">
    <h5 class="">Añadir Coloquio</h5>
  </div>
</ion-toolbar>
<ion-card class="nameCard">
  <ion-item lines="none">
    <ion-label position="stacked" class="ion-padding-bottom ultrathin">Nombre Coloquio</ion-label>
    <ion-input type="text" placeholder="Coloquio: Data Science" class="ion-margin-vertical"></ion-input>
  </ion-item>
</ion-card>
<ion-content class="ion-padding">

  <ion-item lines="none">
    <ion-label position="stacked" class="ion-padding-bottom ultrathin">Lugar</ion-label>
    <ion-input type="text" placeholder="Teatro Shakespeare"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked" class="ion-padding-bottom ultrathin">Cantidad máxima de estudiantes</ion-label>
    <ion-input type="number" placeholder="200"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked" class="ion-padding-bottom ultrathin">Fecha y Hora del Coloquio</ion-label>
    <ion-datetime value="2022-04-21T00:00:00" min="2022-03-01T00:00:00" max="2022-12-31T23:59:59"></ion-datetime>
  </ion-item>
  <div class="centerVH ion-no-padding" style="text-align: center; height: fit-content;">
    <ion-button expand="block" shape="round" color="primary" style="margin-top: 10%;" class="ion-padding-vertical vh-btn">
    Añadir coloquio
    </ion-button>
  </div>
</ion-content>