<ion-header>
  <ion-toolbar>
    <ion-title>Coloquio #</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   
    <ion-footer class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-card-subtitle>Lunes 20 <br> Agosto, 2023</ion-card-subtitle>

        </ion-col>
        <ion-col center text-center>
          <ion-icon name="time-outline"></ion-icon>
          <ion-card-subtitle>12am</ion-card-subtitle>

        </ion-col>

        <ion-col center text-center>
          <ion-icon name="location-outline"></ion-icon>
          <ion-card-subtitle>Teatro Shakespeare</ion-card-subtitle>

        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>

  <div class="centerVH ion-no-padding m-3 pb-3" style="text-align: center; height: fit-content;">
    <ion-button (click)="guardarColoquio()" expand="block" shape="round" color="primary" style="margin-top: 10%;"
      class="ion-padding-vertical vh-btn">
      Descargar reporte de asistencia
    </ion-button>
  </div>


  <ion-title>Lista de estudiantes registrados</ion-title>

  <ion-list class="post-comments">
    <ion-item>
      
      <ion-label>
        <h2>Nombre y Apellido</h2>
        <p>codigo banner</p>
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Nombre y Apellido</h2>
        <p>codigo banner</p>
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Nombre y Apellido</h2>
        <p>codigo banner</p>
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Nombre y Apellido</h2>
        <p>codigo banner</p>
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Nombre y Apellido</h2>
        <p>codigo banner</p>
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Nombre y Apellido</h2>
        <p>codigo banner</p>
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Nombre y Apellido</h2>
        <p>codigo banner</p>
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Nombre y Apellido</h2>
        <p>codigo banner</p>
      </ion-label>
    </ion-item>
  </ion-list>

  
</ion-content>
