<ion-content class="ion-padding">
  <div class="height-60 centerVH">
    <div class="height-60 centerVH"> 
      <ion-img src="assets/img/logo-poli.svg"></ion-img>
      <ion-text color="tertiary">
        <h1 class="titulo text-center"><b>ColoquiosApp</b></h1>
      </ion-text>
    </div>
  </div>
  <div class="height-40 centerVH">  
      <ion-button expand="block" shape="round" color="primary" class="ion-padding-vertical vh-btn" routerLink="/signin">
      Ingresar con el mail USFQ
      </ion-button>
      <ion-button expand="block" shape="round" color="primary" class="ion-padding-vertical vh-btn"  routerLink="/signup">
        Crear cuenta
      </ion-button>
  </div>
</ion-content>
