.nameCard {
    top: -4vh;
    z-index: 100;
    margin-bottom: -4vh;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
  
  .native-input {
    height: 105px !important;
  }
  
  ion-input,
  ion-select {
    border: 1px solid #d7d7d7 !important;
    border-radius: 5px;
    padding: 10px 15px;
  
    --padding-start: 9px !important;
    --padding-end: 9px !important;
    --padding-bottom: 15px !important;
    --padding-top: 15px !important;
  
  
  }
  